body {
  border: #7d62bc solid 5px;
}

.nav {
  background-color: #f8c86f;
  display: flex;
  margin: 0%;
  box-shadow: 0 8px 6px -6px grey;
}

h1 {
  width: 25%;
  margin-left: 2%;
  color: #c765ad;
}

ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  padding-right: 2%;
  align-items: center;
}

li {
  margin: 0 2%;
}

a {
  text-decoration: none;
  color: #c765ad;
  font-weight: bold;
}



